$color-basic-colors-500: #FFFFFF;

$color-trolley-gray-100: #D4D4D4;
$color-trolley-gray-200: #BFBFBF;
$color-trolley-gray-a200: #F9F9F9;
$color-trolley-gray-300: #F5F5F5;
$color-trolley-gray-600: #6B6B6B;
$color-trolley-gray-800: #414141;

$color-dark-orange-100: #FFB85C;
$color-dark-orange-300: #FFA42E;
$color-dark-orange-a400: #FFD8A5;
$color-dark-orange-600: #E88300;
